.body{
    background-image: url('../img/shipback.png');
    font-family: raleway, sans-serif;
    
}
.card{
    margin: auto;
    width: 75%;
    padding: 10px;
    font-family: raleway, sans-serif;
    box-shadow: 0 0 20px #5e5b5b;
    
}

.cardback{
background-color: #f1dfd1;
background-image: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%);

}
.card-title{
    font-weight: bold;
}
